/*QPushButton#_saveContrast,#_saveR,#_saveG,#_saveB
{
   border : none;
   background-color : transparent;
   image: url(:/Plot/rc/save.png);
   border-width:0px;
   border-radius:25px;
   max-width :80px;
   max-height:60px;
   min-width:80px;
   min-height:50px;
}*/
