[Desktop Entry]
Type=Application
Name=Intraoperative_functional_brain_mapping
Exec=Process_multi_thread_RT
Icon=Intraoperative_functional_brain_mapping
Categories=Utility;

